@{
  Layout = "_Layout";
}

@model PierresInventory.Models.Treat;

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>

@if (@Model.Flavors.Count == 0)
{
  <p>This Treat does not have any Flavors assigned to them.</p>
}
else
{
  <h4>Flavors this Treat is assigned to...</h4>
  <ul>
    @foreach (var join in Model.Flavors)
    {
      <li>@join.Flavor.FlavorName</li>
      <li>@join.Flavor.FlavorId</li>
    }
  </ul>
}

<p>@Html.ActionLink("Back to Treats", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>