@{
  Layout = "_Layout";
}

@model PierresInventory.Models.Treat;

<h2>Treats Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.TreatsName): @Html.DisplayFor(model => model.TreatsName)</h3>

@if(@Model.JoinEntries.Count == 0)
{
  <p>This Treat is not associated with a Flavor.</p>
}
else
{
  <h4>flavors the Treat contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntries)
  {
    <li>@join.Flavor.FlavorName</li>
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {
      @using (Html.BeginForm("DeleteFlavor", "Treatss"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatsId)
        <input type="submit" value="Delete" />

        <p>@Html.ActionLink("Edit Treats", "Edit", new { id = Model.TreatsId })</p>
        <p>@Html.ActionLink("Delete Treats", "Delete", new { id = Model.TreatsId })</p>
      }
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to Treats", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

