@{
  Layout = "_Layout";
}

@model PierresInventory.Models.Flavor;

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>

@if(@Model.JoinEntries.Count == 0)
{
  <p>This Flavor does not contain any Treats</p>
}
else
{
  <h4>Treats the Flavor contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntries)
  {
    <li>@join.Treat.TreatName</li>
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <input type="submit" value="Delete" />

        <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
        <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
      }
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to Flavor", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

